.programa th {
    text-align:center;
    width: 50%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: #646464;
    font-size: 0.9em;
    font-weight: 300;
    padding: 0 0.75em 0.75em 0.75em;
}

.programa tr {
    table tbody tr:nth-child(2n + 1) {
        background-color: #f8f8f8;
    }
}

.programa table {
    width: 100%;
    table-layout : fixed;
}

.programa td {
    font-size: 0.9em;
    font-weight: 300;
    text-align:center;
    border: solid 1px #e5e5e5;
    vertical-align:middle;
}

th.hora {
    width: 10%;
}

th.laboratorio {
    width:20%
}