#containerPrograma{
	margin: 0;
	margin-left: 12.5%;
	width: 75%;
	opacity:0.85;
	line-height: 125%;
}

.programa thead {
    border: solid 1px black;
}

.programa th {
    text-align:center;
    vertical-align: middle;
	padding:0.2 em;

    width: 50%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: bold;

    opacity:1;
	color: white;
    border: solid 1px black;
}

.programa thead tr{
    background-color: black;
}

.programa tr {
    background-color: #c0c0c0;
	border: solid 1px black;
    table tbody tr:nth-child(2n + 1) {
	    background-color: white;
    };
}

.programa table {
    table-layout : fixed;
}

.programa td {
	margin: 0;
	padding: 0;
	opacity:1;
	color: black;
    font-size: 0.7em;
    font-weight: 300;
    text-align:center;
    border: solid 1px black;
    vertical-align:middle;
}

.tabla2 {
	width: 35% !important;
}


th.hora {
    width: 10%;
}

th.laboratorio {
    width:20%
}
